body {
    background-color: #bfd27d;
    text-align: center;
}
p {
    color: #474c80;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1 {
    color: #474c80;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.botao {
    display: block;
    width:100px;
    background-color: #bfd27d;
    color: #474c80;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
}
