body {
    background-color: #fdf0d5;
    text-align: center;
    margin: 0;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c1121f;
    text-align: center;
    border: 5px dotted #c1121f;
    padding: 10px;
    font-size: 8px;
}
.foto1 {
    border: solid 5px #c1121f;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 10%;
    width: 10%;
    height: auto;
}
.foto2 {
    border: solid 5px #c1121f;
    border-radius: 10px;
    position: fixed;
    top: 60%;
    left: 10%;
    width: 10%;
    height: auto;
}
.foto3 {
    border: solid 5px #c1121f;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    right: 10%;
    width: 10%;
    height: auto;
}
.foto4 {
    border: solid 5px #c1121f;
    border-radius: 10px;
    position: fixed;
    top: 60%;
    right: 10%;
    width: 10%;
    height: auto;
}